:root {
  --grau: #848484;
  --beige: #f3f3f3;
  --dunkel-blau: #323a45;
}

@font-face {
  font-family: Karla-bold;
  src: url("../fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: Karla-Regular;
  src: url("../fonts/Karla-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* ***** allgemein *****  */
body {
  padding: 0 4vw;
}

h2 {
  color: black;
  font-size: 1.5rem;
  font-family: Karla-Regular;
  line-height: 22px;
}

h3 {
  font-family: Karla-bold;
  font-size: 1.2rem;
  margin-bottom: 40px;
  margin-top: 60px;
}
a {
  text-decoration: none;
  color: var(--dunkel-blau);
}
p {
  font-family: Karla-Regular, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: var(--grau);
  line-height: 22px;
}


.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ***** Header *****  */
header .navbar {
  padding: 15px 0px;
}

.logo h2 {
  font-family: Karla-bold;
  font-size: 20px;
}
header .nav a {
  margin-left: 4vw;
  text-transform: uppercase;
  font-size: 10px;
}
/* ***** Main *****  */

/* - section großes Bild */

.bild {
  margin-bottom: 40px;
  margin-top: 40px;
}
.bild img {
  width: 100%;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.price-color {
  color: black;
}

/* - section Galerie */

.Galerie {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.raster img {
  width: 100%;
}

.image {
  position: relative;
}
.overlay {
  background: var(--grau);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.image:hover .overlay {
  opacity: 0.1;
}

/* ***** footer *****  */

footer {
  align-items: flex-start;
}
footer a{
    display: block;
    font-family: Karla-Regular;
    font-size: 1rem;
}

footer div:nth-of-type(1), footer div:nth-of-type(3) {
    width: 400px;
}
footer div:nth-of-type(2), footer div:nth-of-type(4){
    width: 216px;
}

footer p span{
    font-family: Karla-bold;
    color: black;
    font-size: 1.2rem;
}

.contact{
    margin-bottom: 40px;
}
